.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    max-height: 80%;
    overflow-y: auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.productInfo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.productImage {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
}

.productDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}

.quantityControls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    margin: auto;
}

.qbutton {
    width: 40px;
    height: 40px;
    font-size: 20px;
    border: none;
    border-radius: 50%;
    color: white;
    background-color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.qbutton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.qbutton:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.confirm{
    display: block;
    margin: 20px auto;
    color: white;
    font-size: 20px;
    height: 40px;
    width: 150px;
    background-color: rebeccapurple;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.confirm:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}


