.container{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: flex-start;
    height: 100vh;

}


.homePageMiddle {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 100px;

}


.title{
    color: aliceblue;
    font-size: 70px;
}


.shopNowButton {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: white;
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 160px;
    height: 25px;
}

.shopNowButton:hover {
    background-color: #c0c0c0;
}

.shopNowButton2{
    background-color: #FFFFFF;
    color: black;
    font-size: 18px;
    width: 200px;
    height: 50px;
    border-radius: 10px;

}