.catalogContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 50px;
    background: #f7f7f7;
    border-radius: 20px;
    
    max-width: 1200px;
    margin-left: 600px;
}
