.container {
    position: fixed;
    display: flex;
    flex: 0 0 300px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-left: 200px;
    width: 15%;
    height: auto;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
}

.selectedSubmenu {
    font-size: 25px;
    color: #333;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    width: 100%;
    background: #f7f7f7;
    margin-bottom: 20px;
    border-radius: 10px;
}

.subMenus {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
}

.item {
    color: #333;
    font-size: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    border: none;
    width: 100%;
    padding: 10px;
    text-align: left;
    margin-bottom: 10px;
}

.item:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

.selectedCategoryHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}
